page-app-releases {
    // .releases-empty-container{
    //     height: 200px !important;
    // }
    // .releases-container{
    //     // height: auto;
    //     // overflow: auto;
    //     white-space: nowrap;
    // }
    // .release-help{
    //     top: -1px;
    // }

    // .release-scroll-container{
    //     height: 100% !important;
    // }

    // .scroll-zoom-wrapper{
    //     height: 100%;
    // }


    ion-label.label-md {
        margin: 0 !important;
    }

    .card .list .item {
        border-bottom: 1px solid #EAEAEE;
    }

    .apps-empty-container{
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
    }

    .apps-empty{
        width: 150px;
        height: 150px;
        // transition: 0.2s ease-in-out;
    }
    // .apps-empty:hover{
    //     width: 125px;
    //     height: 125px;
    // }

    .app-icon{
        width: 60px;
        height: 60px;
        max-width: 60px;
    }

    @keyframes placeHolderShimmer{
        0%{
            background-position: -60px 0
        }
        100%{
            background-position: 60px 0
        }
    }
    .app-icon-placeholder {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        width: 60px;
        height: 60px;
        min-width: 60px;
        min-height: 60px;
        position: relative;
        overflow: hidden;
    }

    .app-container {
        // overflow-x: auto;
        // overflow: auto;
        white-space: nowrap;
    }
    .app-row:hover,
    .app-row:active{
        background-color: #F1F1F1;
    }

    // thead, tbody { display: block; }

    // tbody {
    //     height: 100px;       /* Just for the demo          */
    //     overflow-y: auto;    /* Trigger vertical scroll    */
    //     overflow-x: hidden;  /* Hide the horizontal scroll */
    // }


	// table, th, td {
	// 	border: 1px solid black;
	// }
	
	th, td {
		padding: .5em 1em;
	}
    th tr:not(:first-child),
    tbody tr{
        border-bottom: 1px solid #EAEAEE;
    }
    .app-name-container{
        display: flex;
        align-items: center;
        // display: inline-block;
        // width: 200px;
        // max-width: 200px;
    }
    .app-title{
        margin-left: 10px;
        max-height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .scroll-content{
        margin-bottom: 56px !important;
    }

    // @media (max-width: 335px){
    //     .table{
    //         margin-bottom:  56px !important;
    //     }
    // }

    // REMOVE BLUE LINE IN INPUT
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
}
